<%= link_to "Add Image", new_user_image_path(@user)%>
<%= link_to "Sign Out PLEEEEASE?", destroy_user_session_path(@user)%>

<% @images.each do |image|%>
  <div class="image">
    <%= link_to(user_image_path(image.user, image)) do %>
      <h2><%= (image.title) %></h2>
       <%= image_tag image.file.url(:medium)%>
     <% end %>
  </div>
<% end %>
