<h2><%= @image.title %></h2>
<%= image_tag @image.file.url%>
<p>by: <%= link_to @user.email, user_path(@user)%></p>
<% if @user == current_user%>
<%= link_to "Edit image", edit_user_image_path(@user, @image)%>
<%= link_to "Delete image", user_image_path(@user, @image), method: "delete"%>
<% end %>
<h3>Comment</h3>
<%= render "comment_form"%>
<ul>
  <% @image.comments.each do |comment|%>
  <% if comment.id%>
      <li>
        "<%= comment.text%>" -
        <%= link_to comment.user.email, user_path(comment.user)%>
        <% if comment.id && @current_user == comment.user %>
          <%= link_to "Delete comment", image_comment_path(@image, comment), method: "delete" %>
        <% end %>
      </li>
    <% end%>
  <% end %>
</ul>
